:root {
  --white: #f5f5f5;
  --black: #000;
  --coffee: #99725C;
  --green: #BBCCB8;
  --skin: #CCBEB8;
}

.box {
  min-height: 100vh;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.outer-wrapper {
  min-height: calc(100vh - 10vh);
}

@media screen and (max-width: 600px) {
  .outer-wrapper {
    min-height: calc(100vh - 120px);
  }
}